	<div class = "col-md-6">
	   <form action="/{{this.id}}?_method=PUT" method='POST'>
	   <input type ="hidden" name="devoured">
	   <button class="btn btn-secondary btn-sm" type = "submit">DEVOUR IT!</button>
	   </form>
	</div>